<div class="row">
  <div class="col-lg-6">
    <img class="img-fluid rounded mb-4" src="https://image.tmdb.org/t/p/w500_and_h282_face/{{ movieDetail.backdrop_path }}" alt="">
  </div>
  <div class="col-lg-6">
    <h2> {{ movieDetail.title }} </h2>
    <p>
      {{ movieDetail.overview }}
    </p>
    <p>
    Promedio de Votos: <span class="badge badge-primary">{{ movieDetail.vote_average }}</span>
    </p>
    <p>
    Popularidad: <span class="badge badge-primary">{{ movieDetail.popularity }}</span>
    </p>
    <button (click)="backClicked()" class="btn btn-outline-danger">
      Regresar
    </button>
  </div>

</div>
