<div class="input-group flex-nowrap mt-5 mb-5">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Search:</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="search_movi" (keyup)="search(searchMovi.value)" #searchMovi placeholder="Movie..." >
</div>

<div class="card-columns">

<div class="card" *ngFor="let movie of dataSearch">
  <img [src]=" movie.poster_path | noimage " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.overview }}</p>
      <button type="button" class="btn btn-info btn-block" [routerLink]="['/movie',movie.id]">Más información</button>
  </div>
</div>

</div>
