
.item {
    float: left;
}
.item img {
    display: block;
    width: 100%;
}
.container{
    width:100%;
}

.images-theaters .img-big{
  width: 730px;
}
.images-theaters .img-median{
  width: 365px;
}
